  <!-- Telegram group info --->
  <div class="container">
    <div class="alert alert-info my-4" role="alert">
      <div class="row">
        <div class="col-md-1">
          <img class='img-fluid' src="/img/telegram-logo.png" alt="">
        </div>
        <div class="col-md-11">
          <!--Tenemos un <a href="{{include.link}}">grupo de Telegram</a> para organizarnos, avisar cuando no podemos ir a las reuniones y decisiones técnicas. Úsalo también para contactar con nosotros si quieres unirte o tienes alguna duda.-->
          Tenemos un grupo de Telegram específico para este grupo, para asuntos puntuales (p.ej. avisar si no podemos reunirnos, o pasarnos info/enlaces).
          <br />
          Cómo acceder: Primero accede al <a href="{% for network in site.society.social %}{% if network.id == 'telegram' %}{{network.url}}{% endif %}{% endfor %}">Telegram horizontal de Asrob (enlace)</a>. <b>Ya dentro, hay un mensaje anclado que contiene varios enlaces: entra en el del grupo de Telegram específico de este grupo.</b>
        </div>
      </div>
    </div>
  </div>
