  <!-- Telegram group info --->
  <div class="container">
    <div class="alert alert-info my-4" role="alert">
      <div class="row">
        <div class="col-md-1">
          <img class='img-fluid' src="/img/telegram-logo.png" alt="">
        </div>
        <div class="col-md-11">
          Tenemos un <a href="{{include.link}}">grupo de Telegram</a> para organizarnos, avisar cuando no podemos ir a las reuniones y decisiones técnicas. Úsalo también para contactar con nosotros si quieres unirte o tienes alguna duda.
        </div>
      </div>
    </div>
  </div>
