  <!-- Telegram group info --->
  <div class="container">
    <div class="alert alert-info my-4" role="alert">
      <div class="row">
        <div class="col-md-1">
          <img class='img-fluid' src="/img/telegram-logo.png" alt="">
        </div>
        <div class="col-md-11">
          <!--Tenemos un <a href="{{include.link}}">grupo de Telegram</a> para organizarnos, avisar cuando no podemos ir a las reuniones y decisiones técnicas. Úsalo también para contactar con nosotros si quieres unirte o tienes alguna duda.-->
          Tenemos un grupo de Telegram específico para este grupo, para asuntos puntuales (p.ej. avisar si no podemos reunirnos, o pasarnos info/enlaces).
          <br />
          Cómo acceder: Primero accede al Telegram horizontal de Asrob (en portada de la web). Ya dentro, hay un mensaje anclado que contiene el enlace de Telegram específico de este grupo.
        </div>
      </div>
    </div>
  </div>
