<!-- People supporting us -->
    <section id="collaborations">
      <div class="container">
        {% for entry in site.collaborations %}
        {% assign var = forloop.index0 | modulo:4 %}
        {% if var == 0 %}
        <div class="row{% if forloop.index0 == 0 %} mt-3{% endif %}">
        {% endif %}
          <div class="col-md-3 col-sm-6">
              <a href="{{entry.url}}">
                  <img src="{{entry.picture}}" class="img-responsive img-centered" alt="{{entry.name}}">
              </a>
          </div>
        {% if var == 3 or forloop.last %}
        </div>
        <!-- /.row -->
        {% endif %}
        {% endfor %}
      </div>
    <!-- /.container -->
    </section>
