<!-- Links to important sections of the website -->
    <section id="moreinfo">
      <div class="container">
        <h1 class="my-4 text-center">Link importantes</h1>
        {% for entry in site.more_info %}
        {% assign var = forloop.index0 | modulo:3 %}
        {% if var == 0 %}
        <div class="row{% if forloop.index0 != 0 %} mt-3{% endif %}">
          <div class="card-deck">
        {% endif %}
            <div class="card text-center">
              <img class="card-img-top" src="{{entry.picture}}" alt="{{entry.title}}">
              <div class="card-block">
                <h4 class="card-title">{{entry.title}}</h4>
                <p class="card-text text-justify">{{entry.description}}</p>
              </div>
              <div class="card-footer">
                <a href="{{entry.url}}" class="btn btn-primary">Ir &rarr;</a>
              </div>
            </div>

        {% if var == 2 or forloop.last %}
          </div>
        </div>
        <!-- /.row -->
        {% endif %}
        {% endfor %}
      </div>
      <!-- /.container -->
    </section>
